.sass-cache/
node_modules
npm-debug.log
bower_components
.DS_Store
.ds_store
nbproject
public/assets/.DS_Store
src/.DS_Store
# Ignore dev tools installed by composer, but keep production vendor.
# Run "composer install --no-dev" before committing.
/vendor/bin
/vendor/squizlabs
/vendor/dealerdirect
/vendor/phpcompatibility
/vendor/php-parallel-lint
/vendor/wp-coding-standards
/vendor/wptrt
